global
    maxconn 4096

defaults
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m

frontend mongo_puerta_entrada
    bind *:27017
    default_backend mongo_routers

backend mongo_routers
    balance roundrobin
    server router1 mongos1:27017 check
    server router2 mongos2:27017 check

